{% extends "base.html" %}
{% import "formrenderer.html" as macros %}
{% block container %}


<div class="row justify-content-start">
  <div class="col-sm-3"></div>
  <div class="col">
    <h2>Forgot password</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="email">{{ form.email.label }}</label>
        {{  macros.render_field(form.email, class_="form-control") }}
      </div>
      <input type="submit" value="Send reset link" class="btn btn-primary">
    </form>
  </div>
  <div class="col-sm-3"></div>
  </div>
</div>
{% endblock %}