{% extends "base.html" %}
{% import "formrenderer.html" as macros %}
{% block container %}

<h2>Payment console</h2>

<span>Your subscription status is {{current_user.subscription_status}}</span>
<br><br>
{% if not current_user.is_paying %}
  {% for plan in payment_plans %}
  <button class="checkout btn btn-success" data-priceid="{{plan['price_id']}}">
    Subscribe to {{plan['product_name']}} plan
    for {{plan['amount']//100}}{{plan['currency']}}/{{plan['interval']}}</button>
  <br><br>
  {% endfor %}
{% else %}
<form id="manage-billing-form">
  <button class="btn btn-success">Manage Billing</button>
</form>
{% endif %}
{% endblock %}

{% block extra_head_scripts %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block extra_body_scripts %}
<script>
var createCheckoutSession = function(priceId) {
  return fetch("{{url_for('payments_blueprint.create_checkout_session')}}", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      priceId: priceId
    })
  }).then(function(result) {
    return result.json();
  });
};

var handleResult = function(result) {
  if (result.error) {
    alert(result.error.message);
  }
};
var stripe = Stripe("{{config.STRIPE_PUB_KEY}}");
var subscribe_buttons = document.getElementsByClassName("checkout");
for(let i = 0; i < subscribe_buttons.length; i++) {

  subscribe_buttons[i].addEventListener("click", function(evt) {
    //console.log(subscribe_buttons[i].dataset.priceid);
    createCheckoutSession(subscribe_buttons[i].dataset.priceid).then(function(data) {
      stripe
        .redirectToCheckout({
          sessionId: data.sessionId
        })
        .then(handleResult);
    });
  });
}

const manageBillingForm = document.querySelector('#manage-billing-form');
manageBillingForm.addEventListener('submit', function(e) {
  e.preventDefault();
  fetch("{{url_for('payments_blueprint.customer_portal')}}", {
    method: 'POST'
  })
    .then(function(response) {
      return response.json()
    })
    .then(function(data) {
      window.location.href = data.url;
    })
    .catch(function(error) {
      console.error('Error:', error);
    });
});
</script>
{% endblock %}