{% extends "base.html" %}

{% block container %}
<div class="jumbotron text-center">
  <h1>Welcome to the my Awesome SaaS landing page</h1>
  <p>You can now
    <a class="btn btn-success" href="{{url_for('auth.register')}}">Register</a> or
    <a class="btn btn-primary" href="{{url_for('auth.login')}}">Login</a>
  </p>


</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 text-center" >
      <h3>Billing and payments are available once you register</h3>
      <p>Use there fake credit card for testing: 4242 4242 4242 4242, any date in the future for expiration, any CVV code. The email you provide to Stripe should be the same as the one you've registered with</p>
    </div>
    <div class="col-sm-4 text-center">
      <h3>To access platform analytics</h3>
      <p>Use SaaS owner email owner@demo.easysaasboilerplate.com and password Awe$0me</p>
    </div>
    <div class="col-sm-4 text-center">
      <h3>Extend this boilerplate</h3>
      <p>Here is a link to Table of Content of the User Guide for this boilerplate</p>
    </div>
  </div>
</div>
{% endblock %}