{% extends "base.html" %}
{% block navbar %}
{% endblock %}
{% block container %}
<div class="jumbotron text-center">
  <h1>Welcome to the my Awesome SaaS landing page</h1>
  <div class="btn-group" role="group" aria-label="login">
    <a class="btn btn-success" href="{{url_for('auth_blueprint.register')}}">Register</a>
    <a class="btn btn-primary" href="{{url_for('auth_blueprint.login')}}">Login</a>
  </div>


</div>

<div class="row justify-content-center">
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Test payments</h5>
      <h6 class="card-subtitle mb-2 text-muted">available after registration</h6>
      <p class="card-text">
        Use fake credit card for testing:
      <ul>
        <li>4242 4242 4242 4242</li>
        <li>any date in the future for expiration</li>
        <li>any CVC code</li>
      </ul>
      </p>

    </div>
  </div>
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Admin access</h5>
      <h6 class="card-subtitle mb-2 text-muted">super admin rights for analytics</h6>
      <p class="card-text">
        Login with SaaS owner credentials
      <ul>
        <li>email owner@demo.easysaasboilerplate.com</li>
        <li>password Awe$0me</li>
      </ul>
      </p>

    </div>
  </div>
</div>

{% endblock %}